body {
    padding: 30px;

}

main {
    padding: 1em;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1em;
    position: relative;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
}

.nav-links a {
    margin-right: 1em;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    color: orange;
}

.current {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.current-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current > img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 20px;
}   

.card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    max-width: 300px;
}

.card.is-disabled { opacity: .5; filter: grayscale(100%); }

.label {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:90%;
    font-weight: bold;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        margin-top: 1em;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        margin: 0.5em 0;
    }

    .card {
        max-width: 100%;
    }
}